body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
  size: 35px;
}

h1 span {
  size: 25px;
}

div span {
  text-decoration: underline;
}

div p img {
  align-content: left;
  float: left;
  border: 5px solid black;
  margin: 3px;
  padding: 5px;
  width: 300px;
}

p {
  padding-left: 5px;
}

div.columnA {
  width: 320px;
  margin: 5px;
  float: left;
}

div.columnB {
  
  width: 500px;
  margin: 5px;
  float: right;
}

a {
  font-size: 25px;
  text-decoration: underline;
}

div.columnC {
  font-size: 13px;
  width: 240px;
  margin: 5px;
  float: left;
  padding: 5px
  
}

div.columnD {
  font-size: 13px;
  width: 240px;
  margin: 5px;
  float: left;
  padding: 5px
}

div.columnE {
  font-size: 13px;
  width: 240px;
  margin: 5px;
  float: left;
  padding: 5px
}


.jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: lightblue;
}

div ul li {
  font-size: medium;
}

.well {
  background-color: rgb(238, 207, 195);
  align-content: center;
  border: 4px rgb(130, 0, 205);
}