h1 {
  size: 35px;
}

h1 span {
  size: 25px;
}


  div p img {
  align-content: left;
  float: left;
  border: 5px solid black;
  margin: 3px;
  padding: 5px;
  width: 300px;
  
}

p {
  padding-left: 5px;
}

div.columnA {
  width: 320px;
  margin: 5px;
  float: left;
}

div.columnB {
  width: 500px;
  margin: 5px;
  float: right;
}


.jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: lightblue;
}